<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267176035206-iblq01f7t675o6bq85agrkubb92vf2jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267176035206-iblq01f7t675o6bq85agrkubb92vf2jn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>267176035206-3gsrouvc5a01p1u3mapqnjs8db0n6lnu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUX9vI5g8YlfCOiJpB7urpeQmCbowMhIw</string>
	<key>GCM_SENDER_ID</key>
	<string>267176035206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amigocloud.ac-contact-tracing</string>
	<key>PROJECT_ID</key>
	<string>contact-tracing-589b1</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-tracing-589b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267176035206:ios:e9349282b308b27b066207</string>
	<key>DATABASE_URL</key>
	<string>https://contact-tracing-589b1.firebaseio.com</string>
</dict>
</plist>